body {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(12, 109, 255);
    margin-top: 0;
    text-align: center;
}
h1 {
    margin: 0px;
    padding: 30px;
    color: white;
}
h3 {
    color: white;
    margin: 0px;
    padding-bottom: 10px;
}
header a {
    color: white;
    display: block;
    padding: 20px;
}
.hide {
    display: none;
}
#content {
    background-color: rgb(144, 144, 144);
    padding: 10px 0;
}
h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
}
#images {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
#images div {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: white 5px solid;
    box-shadow: 5px 5px 10px black;
}
#images div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
footer {
    background-color: rgb(12, 109, 255);
}
footer p {
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 1rem;
}



dialog img {
    width: 80%;
    max-width: 800px;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 10%;
    padding: 3px 6px;
    font-size: 1.5em;
}
.close-viewer:hover {
    background-color: darkgrey;
    cursor: pointer;
}



@media screen and (min-width: 900px) {
    #images {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1400px) {
    #images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    header h3 {
        display: none;
    }
    .hide {
        display: block;
        padding-bottom: 10px;
    }
    nav a {
        font-size: 1.1rem;
        margin: 0 15px;
        display: inline;
    }
}